{% extends 'base.html.twig' %}

{% block body %}
    <br>

    <div>Hello {{ user.firstName }} {{ user.lastName }}</div>
    <div>{{ user.email }}</div>

    {% block page_contents %}

    {% endblock %}

{% endblock %}