
.login-page {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;

  .container-wrapper {
    width: 100%;
  }

  .error-message {
    margin-bottom: 10px;
    color: #ff0000;
  }

  h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .container {
    max-width: 450px;
  }
}