{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_wallet_create') }}" method="post">
        <input type="text" value="" name="wallet_name" required="required" autocomplete="off">
        <select name="wallet_type" autocomplete="off">
            {% for type, typeForView in wallet_types %}
                <option value="{{ type }}">{{ typeForView }}</option>
            {% endfor %}
        </select>

        <button type="submit">Create</button>
    </form>
{% endblock %}